!!!
%html
  %head
    %title Shogi PLUS
    %link{ rel: "stylesheet", href: "/main.css", type: "text/css" }
  %body
    #header
      %h1
        %a{ href: '/' }
          Shogi PLUS
    #content
      = yield
    #footer
      %p
        created by Team Shogi PLUS
